.couse-dropdown {
    position: initial;
    display: flex;
    align-items: center;
    width: 250px; 
}

.course-input {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    cursor: pointer;

    padding: 5px 40px 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 45%;
    height: 30px;
}

.course-input input {
    border: none;
    outline: none;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 16px; 
    width: 100%;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 5px); 
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    width: 17%;
    z-index: 10;
    margin-left: 500px;
    max-height: 250px; 
    overflow-y: auto;
}

.dropdown-item {
    padding: 12px 15px; 
    font-size: 16px;
    color: #333; 
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #f7f7f7; 
}


.dropdown-item:first-child {
    border-bottom: 1px solid #eee; 
}
